.modal-window {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;

    &:target {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }

    &>div {
        width: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2em;
        background: white;
    }

    header {
        font-weight: bold;
    }

    h1 {
        font-size: 2.5em;
        margin: 0 0 15px;
        text-align: center;
    }
}

.modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;

    &:hover {
        color: black;
    }
}

.modal-content {
    display: inline-flex;
    /* width: 80%; */

}

.content-img {
    /* width: 90%; */
    /* height: auto; */
    /* position: relative; */
    /* min-height: 1px; */
    /* padding-left: 15px; */
    /* padding-right: 15px; */
    align-content: center;
}

.content-img img {
    width: 100%;
    height: auto;

}

.tec-content {
    width: auto;
    height: auto;
}

.tec-content img {
    width: 90%;
}

table{
    width: 100%;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
    text-align: left;
}