@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,500,700');

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-size: 62.5%;
    font-size: 8.5px;
}


.container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.modal-window {
    &>div {
        border-radius: 1rem;
    }
}

.modal-window div:not(:last-of-type) {
    margin-bottom: 15px;
}

.logo {
    max-width: 150px;
    display: block;
}

.btn {
    background-color: white;
    padding: 1em 1.5em;
    border-radius: 0.5rem;
    text-decoration: none;

    i {
        padding-right: 0.3em;
    }
}


.whatsapp-button {
    position: fixed; /* Fija la posición en la pantalla */
    bottom: 20px; /* Separa el botón 20px del borde inferior */
    right: 25px; /* Separa el botón 20px del borde derecho */
    background-color: #25D366; /* Color de fondo verde de WhatsApp */
    background-image: url('/assets/img/whatsapp-logo-png-0.png');  
    background-position: center;
    background-size: 7em;
    border: none; /* Elimina el borde predeterminado del botón */
    border-radius: 50%; /* Hace que el botón sea circular */
    width: 70px; /* Ancho del botón */
    height: 70px; /* Alto del botón */
    display: flex; /* Utiliza flexbox para centrar el icono */
    align-items: center; /* Centra verticalmente el icono dentro del botón */
    justify-content: center; /* Centra horizontalmente el icono dentro del botón */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade una sombra */
    cursor: pointer; /* Cambia el cursor a un puntero al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Añade una transición suave para el cambio de color */
}

.whatsapp-button:hover {
    background-color: #1e9e52; /* Cambia el color de fondo cuando el usuario pasa el mouse por encima */
}

.whatsapp-button i {
    font-size: 35px; /* Ajusta el tamaño del ícono */
}


